@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

:root,
body {
    margin: 0;
    font-family: 'Antic Slab', serif;
}

body {
    height: 100vh;
    display: flex; 
    justify-content: center;  
    background-color: black; 
}

a {
    color: white;
}

.container {
    display: flex;
    height: 100%;
    width: 62%;
}

.left-container {
    width: 40%;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-banner {
    margin-top: 35%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 3rem;
    min-height: 15px;
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.citation {
    margin-top: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.right-container {
    width: 60%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.right-1, .right-2, .right-3 {
    padding: 1.5rem;
}

.right-1 {
    height: 35%;
    background-color: rgb(252, 250, 250);
}

.info-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5rem;
}

.right-2 {
    height: 30%;
    background-color: white;
}

.right-3 {
    height: 35%;
    background-color: gray;
}

