@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

:root,
body {
    margin: 0;
    font-family: 'Antic Slab', serif;
}

body {
    height: 100vh;
    display: flex; 
    justify-content: center;  
    background-color: black; 
}

a {
    color: white;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 1rem;
}

label {
    display: block;
    font-size: .75rem;
}

input {
    min-width: 75px;
    width: 100%;
    height: 1.25rem;
    transition: 0.5s;
    border: 1px solid lightgray;
}

input:focus {
    outline: none;
    border: 1px solid blue;
}

.inputs {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.leftinput, .rightinput {
    flex-grow: 1;
}

.container {
    display: flex;
    height: 100%;
    width: 62%;
}

.left-container {
    height: 100%;
    width: 40%;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-1 {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.left-2 {
    height: 30%;
}

.left-3 {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo-banner {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    color: white;
    font-size: 3rem;
    min-height: 15px;
    margin-top: auto;
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
}

.citation {
    width: 100%;
    margin-top: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
}

.citation p {
    margin: 0 auto;
}

.right-container {
    width: 60%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.right-1, .right-2, .right-3 {
    padding: 1.5rem;
    box-sizing: border-box;
}

.right-1 {
    height: 35%;
    background-color: rgb(236, 233, 233);
}

.info-text-box {
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5rem;
}

.right-2 {
    height: 30%;
    background-color: white;
}

.right-3 {
    height: 35%;
    background-color: rgb(236, 233, 233);
}

.right-3 a {
    color: cornflowerblue;
}

.right-3 button {
    background-color: cornflowerblue;
    padding: 10px 20px;
    color: white;
    border: 1px solid grey;
    border-radius: 8px;
    width: 25%;
    font-size: 1rem;
}

.right-3 button:hover {
    cursor: grab;
    background-color: aquamarine;
}

legend {
    font-size: 1.5rem;
}


